.banner {
    min-height: 10%;
    background-color: coral;
    background-image: url(../images/waterBuffalo.png);
    background-size: cover;
    background-position: 50% 40%;
    

    
    
    
}

