//*CONTACT PAGE STYLING*//@

.contactBody {
    min-height: 100%;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: coral;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(0, 0, 0);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f9c4cc;
  padding: 20px;
}

.container label {
    font-family: "FuturaBook";
}

input {
    font-family: "FuturaBook";
}
textarea {
    font-family: Garamond;
}
option {
    font-family: "FuturaBook";
}
select {
    font-family: "FuturaBook";
}